*.jl.cov
*.jl.*.cov
*.jl.mem
/docs/build/
/docs/src/figures/*
Manifest.toml
/weave/*.html
/weave/jl_*
/docs/src/coatingthickness.md
/docs/src/example.md
/docs/src/testingagainstpap.md
/docs/src/testagainstheinrich.md
/docs/src/testagainstpap.md

docs/src/emitted.md

docs/src/roundtrip.md
