*.jl.cov
*.jl.*.cov
*.jl.mem
/docs/build/
/docs/src/figures/*
Manifest.toml
/weave/*.html
/weave/jl_*
/docs/src/coatingthickness.md
/docs/src/example.md
/docs/src/testingagainstheinrich.md
/docs/src/testingagainstpap.md
